aniso8601==8.0.0
astroid==2.4.2
autopep8==1.5.3
bcrypt==3.1.7
blueprint==3.4.2
bson==0.5.10
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
click==7.1.2
colorama==0.4.3
et-xmlfile==1.0.1
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.8
Flask-JWT-Extended==3.24.1
flask-marshmallow==0.13.0
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.3
fpdf==1.7.2
futures==3.1.1
gevent==20.6.2
greenlet==0.4.16
idna==2.10
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
marshmallow==3.7.0
marshmallow-sqlalchemy==0.23.1
mccabe==0.6.1
mysql==0.0.2
mysql-connector==2.2.9
mysql-connector-python==8.0.21
mysqlclient==2.0.1
numpy==1.19.0
openpyxl==3.0.4
pandas==1.0.5
protobuf==3.12.2
pycodestyle==2.6.0
pycparser==2.20
PyJWT==1.7.1
pylint==2.5.3
PyMySQL==0.9.3
pyodbc==4.0.30
pyspin==1.1.1
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
six==1.15.0
SQLAlchemy==1.3.18
SQLAlchemy-Paginator==0.1
toml==0.10.1
tqdm==4.47.0
typed-ast==1.4.1
urllib3==1.25.9
Werkzeug==1.0.1
wrapt==1.12.1
zope.event==4.4
zope.interface==5.1.0